@using DevExpress.Web.ASPxRibbon;
@using DevExpress.Web.ASPxThemes;

<script type="text/javascript">
    function OnCommandExecuted(s, e) {
        $.ajax({
            url: "@Url.Action("ItemContentPartial")",
            type: "POST",
            dataType: "html",
            success: function (data) {
                $('#templatecontent').html(data);
            }
        });
    }
</script>

@Html.DevExpress().Ribbon(s =>
{
    s.Name = "ribbon";
    s.ClientSideEvents.CommandExecuted = "OnCommandExecuted";

    var group = s.Tabs.Add("Ribbon Tab").Groups.Add("RibbonGroup");

    var item1 = group.Items.Add(MVCxRibbonItemType.ButtonItem, "item1");
    ((RibbonButtonItem)item1).SmallImage.IconID = IconID.TasksNewtask16x16;
    item1.Text = "New";

    var item2 = group.Items.Add(MVCxRibbonItemType.ButtonItem, "item2");
    ((RibbonButtonItem)item2).SmallImage.IconID = IconID.TasksEdittask16x16;
    item2.Text = "Edit";

    var itemCustom = (MVCxRibbonTemplateItem)group.Items.Add(MVCxRibbonItemType.TemplateItem, "tmpl");
    itemCustom.ItemStyle.Width = 150;
    itemCustom.Size = DevExpress.Web.ASPxRibbon.RibbonItemSize.Large;
    itemCustom.SetContent("<div id='templatecontent'></div>");
}).GetHtml()

